.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nbtn{
    display: flex;
    gap: 30px;

}

button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: yellow;
}

.count{
    border: 2px solid black;
    padding: 10px 40px 10px 40px;
}